/* Columnas generales */
.containerV2{
    display: flex;
    justify-content: center;

}
.columnV2{
 width: 700px; /* Cambia el valor según el tamaño deseado */
 height: 300px; /* Cambia el valor según el tamaño deseado */
 background-color: #ffffff; /* Cambia el color según tus preferencias */
 margin: 15px; /* Crgb(247, 24, 24)l valor según el espacio deseado entre las columnas */
 display: flex;
 justify-content: center;
 align-items: center;
}
/* columnas internas en columna1 */
.containerV3{
    display: flex;
    justify-content: center;
}
.columnV3{
 width: 310px; 
 height: 300px; 
 background-color: #ffffff;
 margin:5px; 
 display: flex;
 justify-content: center;
 align-items: center;
} 

.containerV4 {
  display: flex;
  background-color: rgb(255, 255, 255);
  flex-direction: column ;
  justify-content: center;
  /* font-size: 10px; */
}

.columnV4 {
  display:contents;
  width: 310px; 
  height: 150px; 
  flex: -1;
  background-color: rgb(251, 251, 255);
}

/* visualizar pdf */
.pdf-container {
    width: 30px;
    height: 600px; /* Ajusta la altura según tus necesidades */
    float: left;
    box-sizing: border-box;
    margin: 10px;
 }
 .pdf-column:last-child {
    margin-left: 50px; /* Elimina el margen derecho para la última columna */
    margin-top: 2px;
  
  }
/* Boton descarga */
.btnV2{
    position: relative;
    padding: 5px 10px;
    text-decoration: none;
    color: rgb(24, 24, 24);
    letter-spacing: 10px;
    transition: all 0.5s;
}
  .boton-descarga{
    border: 3px solid ;
  }
  .boton-descarga:hover{
    background-color: rgb(241, 90, 90);
    box-shadow: 0 0 20px var(--color);
    border-color: var(--color);
  }

  .boton-descarga span:nth-child(n){
    position: absolute;
    width: 10px;
    height: 10px;
    border: 3px solid;
    transition: all 0.5s ease;
  }

  .boton-descarga span:nth-child(1){
    right: 10%;
    top: -10px;
    background-color: rgb(255, 255, 255);
  }

  .boton-descarga span:nth-child(2){
    left: 10%;
    bottom: -30%;
  }

  .boton-descarga:hover span:nth-child(1){
    right: 80%;
    transform: rotate(90deg);
    color: var(--color);
    background-color: var(--color);
  }

  .boton-descarga:hover span:nth-child(2){
    left: 80%;
    transform: rotate(90deg);
    color: var(--color);
  }
  /* iconos */

  .iconcv{
    display: inline-block;
    width: 75px;
    height: 75px;
    position:relative;
    /* right: -10px;
    top: -10px; */
  }

  li{
    list-style-type: none;
  }

  .letraredes{
    font-size: 20px;
  }

  .letraemail{
    font-size: 20px;
  }

  @media  screen and (max-width: 551px){

  .containerV2{
    flex-direction: column ;
    justify-content: center;
    align-items: center;
  }
  .columnV2{
   width: 300px; /* Cambia el valor según el tamaño deseado */
   height: 500px; /* Cambia el valor según el tamaño deseado */
   background-color: #e6e6e6; /* Cambia el color según tus preferencias */
   margin: 5px; /* Crgb(247, 24, 24)l valor según el espacio deseado entre las columnas */
   display: flex;
   justify-content: center;
   align-items: center;
  }

  .containerV3{
    flex-direction: column ;
    justify-content: center;
  }
  .columnV3{
  width: 295px; 
  height: 250px; 
  background-color: #a9f87b;
  margin:5px; 
  display: flex;
  justify-content: center;
  align-items: center;
  } 

  .containerV4 {
    width: 500px; 
    height: 195px; 
    display: flex;
    background-color: blue;
    flex-direction: column ;
    justify-content: center;
  }
  
  .columnV4 {
    display: flex;
    width: 295px; 
    flex: -1;
    background-color: rgb(255, 208, 0);
  }

  .pdf-container {
    display: flex;
    width: 200px;
    height: 200px; /* Ajusta la altura según tus necesidades */
    float: center; 
    box-sizing: border-box;
    margin: 1px
  }
 .pdf-column:last-child {
  margin-left: 40px;
  margin-top: 4px;
  }
  /* Boton descarga */
.btnV2{
  position: relative;
  padding: 5px 10px;
  text-decoration: none;
  color: rgb(24, 24, 24);
  letter-spacing: 1px;
  transition: all 0.5s;
  margin-left: 40px;
}
.boton-descarga{
  border: 3px solid ;

}
.iconcv{
  /* display: flex; */
  width: 50px;
  height: 50px;
  position:relative;
  align-items: center;
  justify-content: center;

  
}
.li{
  display: none;
}
.liv2{
  margin-left: 0%;
  border-bottom: 0px solid rgb(70, 60, 60);
  margin-bottom: 0px;
  transition: background-color 0.3s ease;
  transition: none;
}
.letraredes{
  font-size: 19px;
}

.letraemail{
  font-size: 14px;
}

 }
